@media (max-width: 1200px){
    .img-01 {
        width: 550px;
    }
    .box-1-title{
        font-size: 54px;
    }
    .mane-img {
        width: 50%;
        height: 50%;
        border-radius: 50px;  
    }

    .section-possibility{
        height: 1400px;
        
    }
    .table{
        display: grid;
        grid-template-columns:200px 200px ;
        margin-bottom: 50px;
        gap: 50px;
    }
    

    .img-table{
        padding: 0;
    }
    .h3-boost, h3-centre, .font65sb{
        font-size: 40px;
        
    }
    .section-boost{
        padding-top: 200px;
    }
    .blue{
        background-color: blueviolet;
        width: 100%;
    }
    .img-photo{
       display: none;
    }
    .font30normal{
        font-size: 16px;
        line-height: 20px;
        width: 50%;
        padding: 20px 20px;
    }
    .gold{
        display: none;
    }
   
    .img-pain{
        width: 50%;
    }
    .pain-btn{
        display: block;
        margin: 20px auto;
    }
    .tryit{
        display: none;
    }

    .footer{
        background: none;
    }

    .footer-frame{
        display: block;
    }
}

@media (max-width: 800px){
    .nav {
        display: none;
    }
    .nav-logo {
        display: flex;
        margin: 20px 50px;
    }
    .mobile{
        display: block;
    }
    .mobile-nav{
        display: block;
    }
    .box-1-title, h3, .font65sb, .h3-centre, .h3-boost {
        font-size: 26px;
    }

    .h3-boost{
        padding-left: 80px;
    }
    .main {
        display: block;
        
    }
    .mane-img {
        width: 50%;
        height: 50%;
        border-radius: 20px;
    }
    
    .section-possibility{
        height: 1400px;
        
    }
    .table{
        display: grid;
        grid-template-columns:200px 200px ;
        margin-bottom: 0;
        margin-left: 80px;
        width: 60%;
    }

    .img-table{
        padding: 0;
    }

    .main-text{
        padding-left: 138px;
    }
    .table-boost{
        display: grid;
        grid-template-columns: 280px 280px 280px;
        padding-left: 40px;
    }
    .text-boost{
        width: 150px;
    }
    .blue{
        background-color: rgba(117, 44, 185, 0.137);
        width: 100%;
    }
}